---
- name: install libs
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - python3-pip
      - virtualenv
      - python3-setuptools
    state: present
    update_cache: yes

- name: install docker gpg key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add docker repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: install docker
  apt:
    name: 
      - docker-ce
      - docker-ce-cli 
      - containerd.io
    state: present

- name: install jsondiff
  pip:
    name: jsondiff  
    state: present
    
- name: install docker-compose
  apt:
    name: docker-compose
    state: present